<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    
</head>
<link rel="stylesheet" href="/static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=DM+Serif+Text&family=Noto+Serif:wght@700&family=Roboto+Slab:wght@400;900&display=swap" rel="stylesheet">


<style>


</style>


<body class="index">
   <header class="header">
    <!-- left box logo -->
    <div class="left">
        <!-- div.class left -->
        <img src="/static/logo.png" alt="">
        <div>E-commerce</div>
    </div>
   
    <!-- Mid box for navbar -->
    <div class="mid">
        <div class="navbar">
            <li><a href="" class="active">Home</a></li>
            <li><a href="">About us</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a href="">Contact Us</a></li>
        </div>

    </div>

    <!-- Right Box for buttons -->
    <div class="right">
        <button class="btn">
            Products
        </button>
        <button class="btn">
            Email us
        </button>
    </div>
   </header>

   
</body>
</html>
